@page "/questions/{gameid:int}"

<PageTitle>Team of Influencers</PageTitle>

<h1>Team of Influencers</h1>
<p>Joined game: @GameId</p>
<p>Answer each question with a score between 1 and 5</p>

@if (_answers == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <EditorForm>
        @foreach(var answer in _answers)
        {
            <div>
                <span>@answer.Question.Description</span>
                <InputRadioGroup TValue="int" Name="@answer.Question.Id.ToString()" @bind-Value="@answer.Score">
                    @for (var number = 1; number <= 5; number++)
                    {
                        <InputRadio Value="number"/>
                        @number
                    }
                </InputRadioGroup>
            </div>
        }
        <button @onclick="OnSentClicked">Versturen</button>
    </EditorForm>
}

@if (_scores != null)
{
    <div>
    @foreach (var score in _scores)
    {
        <div>
            <span>@score.Category: @score.TotalScore</span>
        </div>
    }
    </div>
}

<Radarchart ScoreCategory1="_score1" ScoreCategory2="_score2" ScoreCategory3="_score3" ScoreCategory4="_score4" />